[Unit]
Description=PulseAudio
After=xorg.service pre-user-session.target
Requires=dbus.socket

[Service]
EnvironmentFile=-/etc/sysconfig/pulseaudio
ExecStart=/usr/bin/pulseaudio $CONFIG
Restart=always
RestartSec=1
